{% extends "BGCinemaBundle::layout.html.twig" %}

{% block bgcinema_body %}

  <h2>Ajouter un film</h2>
    <p>
      Attention : ce film sera ajouté directement
      sur la page d'accueil après validation du formulaire.
    </p>

    {{ include("BGCinemaBundle:Film:form.html.twig") }}

{% endblock bgcinema_body %}
