{% extends "BGCinemaBundle::layout.html.twig" %}

{% block title %}
  Cycle Américain - {{ parent() }}
{% endblock %}

{% block h2 %}
  <h2>Cycle Américain</h2>
{% endblock %}

{% block bgcinema_body %}
  <h3>Titre du ciné-débat</h3>

  {#
  {% image '@BGCinemaBundle/Resources/public/img/X.jpg' %}
    <img src="{{ asset_url }}" alt="X">
  {% endimage %} -->
  #}
{% endblock bgcinema_body %}
