{% extends "BGCinemaBundle::layout.html.twig" %}

{% block title %}
  Modifier un film - {{ parent() }}
{% endblock %}

{% block bgcinema_body %}

  <h2>Modifier un film</h2>
    <p>Vous éditez un film déjà existant, merci de ne pas changer l'esprit général.</p>

  {{ include("BGCinemaBundle:Film:form.html.twig") }}


  <p>
    <a href="{{ path('bg_cinema_view', {'film_id': film.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au film
    </a>
  </p>

{% endblock %}
