{% extends "BGCinemaBundle::layout.html.twig" %}

{% block title %}
  Autres Événements - {{ parent() }}
{% endblock %}

{% block h2 %}
  <h2>Autres Événements</h2>
{% endblock %}

{% block bgcinema_body %}
  <h3>Titre de l'évenement</h3>

  {#
  {% image '@BGCinemaBundle/Resources/public/img/X.jpg' %}
    <img src="{{ asset_url }}" alt="X">
  {% endimage %} -->
  #}

  <p>texte</p>
{% endblock bgcinema_body %}
